{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/ebi.css">
{% endblock %}

{% block body %}
<div class="cardContainer">
  <img src="https://postimg.cc/jnCwK8Z7" alt="photo of Ebizimoh" />
  <div class="cardTexts">
    <h2>Name: Ebizimoh Abodei</h2>
    <h4>Age: 32</h4>
    <h4>Current-location: Helsinki, Finland</h4>
    <h4>
      Github:
      <a href="https://github.com/EbizimohAbodei" target="_blank" rel="noreferrer">Ebizimoh_A</a>
    </h4>
  </div>
</div>
{% endblock %}