{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/ebi.css">
{% endblock %}

{% block body %}

<div class="a-box">
  <div class="img-container">
    <div class="img-inner">
      <div class="inner-skew">
        <img src="https://i.postimg.cc/RhLc7ytX/8692-EE71-DC71-46-A5-B08-E-CF01-B1-FE0-C08.jpg">
      </div>
    </div>
  </div>
  <div class="text-container">
    <h3>Name: <span>Ebizimoh Abodei</span></h3>
    <div>
      <h3>Age: <span>32</span></h3>
      <h3>Location: <span>Helsinki, Finland</span> </h3><p></p>
      <h3>
      Github:
      <a href="https://github.com/EbizimohAbodei" target="_blank" rel="noreferrer"><span>Ebizimoh_A</span></a>
    </h3>
  </div>
</div>
</div>
{% endblock %}