{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/filipp.css">
{% endblock %}

{% block body %}
<div class="card">
  <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.6435-9/36786402_2220990794797480_8918722842544046080_n.jpg?_nc_cat=101&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=pRJiCCFU_KoAX8XW2Dv&_nc_ht=scontent-arn2-1.xx&oh=00_AT8NIJvS5h3RjaLWKmXSzsEczQrPIsbWMvSGmofFVPN69w&oe=62A5ED62" alt="#" />
  <div class="info">
    <p>Name: Filipp Tarkovich</p>
    <p>Age: 23</p>
    <p>From: Komsomolsk-on-Amur, Russia</p>
    <p>Living: Espoo, Finland</p>
    <p>
      Github:
      <a href="https://github.com/fill-tarkovich" target="_blank" rel="noreferrer">fill-tarkovich</a>
    </p>
  </div>
</div>
{% endblock %}