{% extends "base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/toni.css" />
{% endblock %}

{% block body %}
<div class="card">
  <img src="https://avatars.githubusercontent.com/u/54765887?v=4" alt="Toni profile picture" />
  <div class="infopanel">
    <p>Name: Toni Nissinen</p>
    <p>Age: 35</p>
    <p>From: Leppävirta, Finland</p>
    <p>Living: Espoo, Finland</p>
    <p>
      Github:
      <a href="https://github.com/ronttizz" target="_blank" rel="noreferrer" class="link">Ronttizz</a>
    </p>
  </div>
</div>
{% endblock %}
