{% extends "base.html.twig" %}

{% block stylesheets %}
<link ref="stylesheet" href="/css/toni.css" />
{% endblock %}

{% block body %}
<div class="card">
  <img src="#" alt="#" />
  <div class="infopanel">
    <p>Name: Toni Nissinen</p>
    <p>Age: 35</p>
    <p>From: Leppävirta, Finland</p>
    <p>Living: Espoo, Finland</p>
    <p>
      Github:
      <a href="https://github.com/ronttizz" target="_blank" rel="noreferrer">Ronttizz</a>
    </p>
  </div>
</div>
{% endblock %}
