* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(67, 67, 67);
  padding: 0.5rem;
}
a:hover {
  text-decoration: underline;
  color: black;
}

header {
  background-color: rgb(240, 240, 140);
  min-height: 4rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

header ul li {
  display: inline-block;
  margin: 0.2rem;
  font-size: 1.2rem;
}

main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

footer {
  background-color: rgb(240, 240, 140);
  min-height: 4rem;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.profile {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  height: 18rem;
  text-align: center;
  border-radius: 4px;
}

.profile img {
  object-fit: cover;
  height: 70%;
}

.profile h2 {
  margin: 1rem;
}
